#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #042f4b;
  margin-top: 60px;
}

tr {
  font-family: 'Roboto', sans-serif;
  transition: ease-out 1s;
  background-color: #ffffff;
}

tr:hover {
  background-color: #9cf196;
  transition: ease-in 1s;
}

tbody > tr {
  cursor: pointer;
}

.search-circle {
  width: 4em;
  height: 4em;
  display: inline-block;
  background-color: #ffdcf7;
  box-shadow: 2px 3px 14px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: 2px 3px 14px 3px rgba(0,0,0,0.45);
  -webkit-box-shadow: 2px 3px 14px 3px rgba(0,0,0,0.45);
  border-radius:100px;
  -webkit-transition: ease-in 1s;
  transition: ease-out 1s;
}

.search-circle.active {
  width: 20em;
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

.search-icon {
  cursor: pointer;
  height: 4em;
  width: 3em;
}

.search-input {
  border-radius: 0;
  border-width: 0 0 1px;
  border-bottom: solid 1px;
  background-color: #ffdcf7;
  width: 0;
  -webkit-transition: ease-in 1s;
  transition: ease-out 1s;
}

.search-input.active {
  width: 240px;
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

.search-input:focus {
  outline: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Staatliches', cursive;
  color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Staatliches', cursive;
  color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Staatliches', cursive;
  color: #000;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Staatliches', cursive;
  color: #000;
}

.search-results-info {
  font-family: 'Roboto', sans-serif;
  margin: 2em;
}

.error {
  color: #ed1250;
}

.avatar {
  width: 4em;
}
