#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 3.75em;
  font-family: 'Roboto', sans-serif;
}

/* Empty Screen CSS */

.empty-screen {
  margin: 10em;
}

.inspectocat {
  width: 10em;
}

.directions {
  font-family: 'Staatliches', cursive;
}

/* Searchbar CSS */

.search-circle {
  width: 4em;
  height: 4em;
  display: inline-block;
  background-color: #ffdcf7;
  box-shadow: 2px 3px 14px 3px rgba(0,0,0,0.45);
  border-radius:100px;
  transition: ease-out 1s;
}

.search-circle.active {
  width: 20em;
  transition: ease-out 1s;
}

.search-icon {
  cursor: pointer;
  height: 4em;
  width: 3em;
}

.search-input {
  border-radius: 0;
  border-width: 0 0 1px;
  border-bottom: #ffdcf7;
  background-color: #ffdcf7;
  width: 0;
  transition-property: width, border-bottom;
  transition: ease-out 1s;
}

.search-input.active {
  width: 15em;
  border-bottom: solid 1px;
  transition-property: width, border-bottom;
  transition: ease-out 1s;
}

.search-input:focus {
  outline: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Staatliches', cursive;
  color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Staatliches', cursive;
  color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Staatliches', cursive;
  color: #000;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Staatliches', cursive;
  color: #000;
}

/* Search Results and Error CSS */

.search-results-info {
  font-family: 'Roboto', sans-serif;
  margin: 2em;
}

.error {
  color: #ed1250;
}

/* Table CSS */

tbody > tr:hover {
  cursor: pointer;
  background-color: #dcf7ff;
}

.avatar {
  width: 4em;
}
